* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

body h1 {
  text-align: center;
  padding-top: 35px;
}

.main {
  padding: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 30px;
  text-align: center;
}

.input {
  height: 80px;
  width: 300px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  border-radius: 20px;
  border: none;
}
.input:focus {
  outline: none;
}

.btn {
  margin: 30px;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(73, 43, 18);
  border: none;
  transition: 1.5s;
  font-weight: 600;
  color: rgb(237, 249, 249);
}

.btn:hover {
  padding: 18px;
}
.text h2 {
  padding-bottom: 10px;
  font-size: 35px;
  color: rgb(225, 129, 11);
}
.total {
  margin: 10px;
  display: inline;
  font-size: 55px;
  font-weight: 900;
}
.tk {
  display: inline;
  font-size: 24px;
}
